*{
	margin: 0; 
	padding: 0;
	font-family: 'Baloo Chettan 2', cursive;
}

header {
	background-color: #223B61;
}

.logo img{
	float: left;
	width: 60px;
	height: auto;
	padding-left: 25px;
}

ul {
	text-align: center;
	float: ;
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 300px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #DADADA;
	padding: 5px 25px;
	border: none;
}

ul li a:hover{
	color: #fff;

}